
/* font */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@1,500&family=Roboto+Slab:wght@400;700&display=swap');

/*------ common style----- */

body{
  font-family: 'Lobster', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Slab', serif;
  
  background-color:white;}
  
  main{
    display:flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    
  }
    
    
    
.container {



  width: 870px;
padding: 30px;
margin-top: 31px;
border-radius: 10px;
      /* position: absolute; */
width: 1100px;
height: 500px;
left: 80px;
right: 220px;
top: 50px;
bottom: 50px;
margin: bottom 100px;
background:#161616 ;
border-radius: 30px;
      }

 .button-three{background-color: black;
width: 220px;
height: 250px;
border-radius: 10px;
}
 
.button-decor{
  border-radius: 10px;
  display: flex;
  text-align:center;
background-color: #FFFFFF;
height: 50px;
width: 150px;
margin: 25px;
padding: 18px;
font-weight: 700;
}





.img{

  position: absolute;
  width: 500px;
  height: 562px;
  left: 700px;
  top: 50px;


}
.text-left{
color: #FFFFFF;
  position: absolute;
  width: 400px;
  height: 300px;
  left: 150px;
  /* top: 20px; */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;}


 
  .text-size{

  position: absolute;
width: 506px;
height: 78px;
left: 7px;
top: 300px;

font-family: 'Poppins';
font-style: normal;
font-weight: 100;
font-size: 14px;
line-height: 16px;

}

.button-one{
background-color:red;

border-radius: 5px;
border: none;
position: relative;
bottom: -400px;
left: 30px;
padding: 13px 20px;
text-align:left;
text-decoration:none;
display:inline-block;
font-size: 14px;
margin: 4px 2px;}





/* 
.fa-tv{

font-size: 15px;
  color:greenyellow;
  padding: 5px;
} */
hr{

  border: 1px solid #D1D1D1D1;
/* 2nd par use */
margin-bottom: 27px;}

/* second part */

.container-one{
/* 
  display: flex;
    flex-direction: row | row-reverse | column | column-reverse; */
  

display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 24px ;
}
.container-two{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px
  

}
.course-info{
 display: flex;
 justify-content: space-between;
 
}
.icon-size{

  display: flex;
/* justify-content: space-between; */
  align-items: center;
  
}

.course .course-banner img{
width: 260px;
height: 200px;
border-radius: 10px;}

/* .flex-container {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: black;
  color: white;
  width: 50px;
  margin: 5px;
  text-align: left;
  line-height: 10px;
  font-size: 30px;
}  */

/* media quary */
@media screen and (max-width: 576px) {
  .container-one {
    flex-direction: column-reverse;
    /* flex-direction: column; */
  }
  .container-one .img {
    width: 100%;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 577px) and (max-width: 700px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}



/* footer item */

footer{

background-color:black;
height: 300px;
color: whitesmoke;
text-align:center;
 position: relative;
 clear: both;
 margin-left: auto;
 margin-right: auto;
width: 100%;

}
a{


  color:whitesmoke;
}
footer h4{
display: inline;
margin-right: 1em;

}
.icon-one{
padding: 20px;
margin: 10px;


}

.button-decor:hover{
background-color: red;


}


























/* button{
border-radius: 5px;
  background-color:navajowhite;
}


